<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Авторизация</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="form-container">
  <form id="loginForm">
    <h2>Авторизация</h2>
    <div class="form-group">
      <label for="username">Логин:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Пароль:</label>
      <div class="password-container">
        <input type="password" id="password" name="password" required>
        <span id="togglePassword" class="toggle-password">&#128065;</span>
      </div>
    </div>
    <button type="submit">Войти</button>
    <p class="registration-invite">Если у вас еще нет аккаунта, то можете <a href="registration.html">зарегистрироваться</a>.</p>
    <p id="errorMessage" class="error-message"></p>
  </form>
</div>
<script src="login.js"></script>
</body>
</html>
