body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 50px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
    width: 100%;
    max-width: 450px; /* Increased max width */
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

h2 {
    color: #333;
    font-size: 26px; /* Increased font size */
    margin-bottom: 25px; /* Increased margin */
    text-align: center;
}

.form-group {
    margin-bottom: 25px; /* Increased margin */
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 8px; /* Increased margin */
    font-size: 18px; /* Increased font size */
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-size: 16px; /* Increased font size */
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.password-container {
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 15px; /* Adjusted for increased padding */
    cursor: pointer;
    user-select: none;
}

button {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Increased font size */
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px; /* Ensure space between last input and button */
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.registration-invite,
.error-message {
    text-align: center;
    margin-top: 20px; /* Adjusted margin for better spacing */
}

.registration-invite a,
.error-message {
    font-size: 16px; /* Increased font size for better readability */
}

.error-message {
    color: red;
}

.registration-invite a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
