body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.brand-name {
    color: #007bff;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation button:hover {
    background-color: #0056b3;
}

.user-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around; /* Изменено на space-around для центрирования */
    max-width: 800px; /* Увеличена максимальная ширина */
    margin: auto;
    flex-wrap: wrap; /* Добавлено для адаптивности */
}

.user-info p {
    color: #333;
    font-size: 18px; /* Увеличен размер шрифта */
    line-height: 1.6; /* Увеличен межстрочный интервал */
    max-width: 50%; /* Ограничение ширины текста */
}



#userImage {
    max-width: 250px; /* Увеличена максимальная ширину изображения */
    border: 5px solid #f0f0f0; /* Утолщена рамка вокруг изображения */
    border-radius: 15px; /* Увеличены скруглённые углы рамки */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Усиленная тень */
}

@media (max-width: 768px) {
    .user-info p, #userImage {
        max-width: 100%; /* Позволяет тексту и изображению занимать всю ширину на маленьких экранах */
        margin-top: 10px;
    }
    .user-info {
        flex-direction: column; /* Столбцовое размещение на маленьких экранах */
    }
}

.logout-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

.logout-button:hover {
    background-color: #c82333;
}

.edit-buttons-container {
    text-align: center; /* Центрирование содержимого внутри контейнера */
    width: 100%; /* Ширина контейнера на 100% родителя */
    margin-top: 20px; /* Отступ сверху для разделения от основного контента */
}

.edit-user-button {
    margin: 10px 5px; /* Небольшой отступ для разделения кнопок */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px; /* Увеличенные отступы для увеличения размера кнопки */
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-user-button:hover {
    background-color: #0056b3;
}

.navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px; /* Увеличено значение padding */
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block; /* Для .logout-button и .edit-user-button */
}
.logout-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px; /* Увеличено значение padding */
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block; /* Для .logout-button и .edit-user-button */
}
.logout-button:hover{
    background-color: #da7e8e;

}

.navigation button:hover, .edit-user-button:hover {
    background-color: #0056b3;
}

/* Дополнительно, увеличение шрифта для улучшения читаемости */
.navigation button, .logout-button, .edit-user-button {
    font-size: 16px; /* Увеличен размер шрифта */
}
/* Основные стили для контейнера чата */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    height: 80vh;
    margin: 20px auto;
    border: 1px solid #007BFF;
    border-radius: 8px;
    background-color: #f0f2f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для списка сообщений */
.message-list {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Общие стили для сообщений */
.message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #333;
    max-width: 60%;
}

.sent {
    background-color: #DCF8C6;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.received {
    background-color: #ECECEC;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

/* Стили для имени отправителя */
.sender-name {
    font-size: 0.9em;
    color: #007BFF;
    margin-bottom: 5px;
}

/* Стили для поля ввода сообщения */
.message-input {
    border: 2px solid #007BFF;
    border-radius: 18px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 1em;
    resize: none;
}

/* Стили для кнопки отправки */
.send-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 1em;
    margin: 20px;
    transition: background-color 0.2s;
}

.send-button:hover {
    background-color: #0056b3;
}

/* Улучшение скроллбара для списка сообщений */
.message-list::-webkit-scrollbar {
    width: 8px;
}

.message-list::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 4px;
}

.message-list::-webkit-scrollbar-track {
    background-color: #f0f2f5;
}
