<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="messages.css">
</head>
<body>
<div class="header">
    <h1 class="brand-name">anulan</h1>
    <nav class="navigation">
        <button onclick="window.location.href='messages.html';">Сообщения</button>
        <button onclick="window.location.href='users.html';">Пользователи</button>
        <button onclick="window.location.href='user-info.html';">Моя страница</button>
    </nav>
</div>
<div class="chat-container">
    <div id="messageList" class="message-list"></div>
    <textarea id="messageText" class="message-input"></textarea>
    <button onclick="sendMessage()" class="send-button">Отправить</button>
</div>

<script>

    let userId = 0;
    let contactId = 0;
    fetch(`http://localhost:8080/senderId/contactId`, {
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${localStorage.getItem('jwt-token')}`
        }
    })
        .then(response => response.json())
        .then(data => {
            userId = data.first;
            contactId = data.second;
            fetchMessages();
        }).catch(error => console.error('Ошибка:', error));


    document.addEventListener('DOMContentLoaded', fetchMessages);

    function fetchMessages() {
        fetch(`http://localhost:8080/messages/${userId}/${contactId}`, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('jwt-token')}`
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const messageList = document.getElementById('messageList');
                messageList.innerHTML = '';
                data.forEach(message => {

                    const messageWrapper = document.createElement('div');
                    messageWrapper.className = 'message';

                    const isCurrentUserSender = Number(data.senderId) === Number(userId);

                    messageWrapper.classList.add(isCurrentUserSender ? 'sent' : 'received');

                    if (!isCurrentUserSender) {
                        const senderNameElement = document.createElement('div');
                        senderNameElement.className = 'sender-name';
                        senderNameElement.textContent = message.senderName;
                        messageWrapper.appendChild(senderNameElement);
                    }

                    const messageContent = document.createElement('div');
                    messageContent.textContent = message.content;
                    messageWrapper.appendChild(messageContent);

                    messageList.appendChild(messageWrapper);
                });
                if (messageList.lastElementChild) {
                    messageList.lastElementChild.scrollIntoView({ behavior: 'smooth', block: 'end' });
                }
            })
            .catch(error => console.error('Ошибка:', error));
    }






    function sendMessage() {
        const messageText = document.getElementById('messageText').value;
        if (!messageText.trim()) return;

        const messageData = {
            senderId: userId,
            receiverId: contactId,
            content: messageText
        };

        fetch('http://localhost:8080/messages/send', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${localStorage.getItem('jwt-token')}`
            },
            body: JSON.stringify(messageData)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                fetchMessages();
                document.getElementById('messageText').value = '';
            })
            .catch(error => console.error('Ошибка:', error));
    }

    document.getElementById('messageText').addEventListener('keydown', function(event) {
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault();
            sendMessage();
        }
    });

</script>

</body>
</html>
