<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="messages.css">
</head>
<body>
<div class="header">
    <h1 class="brand-name">anulan</h1>
    <nav class="navigation">
        <button onclick="window.location.href='messages.html';">Сообщения</button>
        <button onclick="window.location.href='users.html';">Пользователи</button>
        <button onclick="window.location.href='user-info.html';">Моя страница</button>
    </nav>
</div>

<script src="messages.js"></script>
</body>
</html>
