body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.brand-name {
    color: #007bff;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation button:hover {
    background-color: #0056b3;
}

.user-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around; /* Изменено на space-around для центрирования */
    max-width: 800px; /* Увеличена максимальная ширина */
    margin: auto;
    flex-wrap: wrap; /* Добавлено для адаптивности */
}

.user-info p {
    color: #333;
    font-size: 18px; /* Увеличен размер шрифта */
    line-height: 1.6; /* Увеличен межстрочный интервал */
    max-width: 50%; /* Ограничение ширины текста */
}



#userImage {
    max-width: 250px; /* Увеличена максимальная ширину изображения */
    border: 5px solid #f0f0f0; /* Утолщена рамка вокруг изображения */
    border-radius: 15px; /* Увеличены скруглённые углы рамки */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Усиленная тень */
}

@media (max-width: 768px) {
    .user-info p, #userImage {
        max-width: 100%; /* Позволяет тексту и изображению занимать всю ширину на маленьких экранах */
        margin-top: 10px;
    }
    .user-info {
        flex-direction: column; /* Столбцовое размещение на маленьких экранах */
    }
}

.logout-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

.logout-button:hover {
    background-color: #c82333;
}

.edit-buttons-container {
    text-align: center; /* Центрирование содержимого внутри контейнера */
    width: 100%; /* Ширина контейнера на 100% родителя */
    margin-top: 20px; /* Отступ сверху для разделения от основного контента */
}

.edit-user-button {
    margin: 10px 5px; /* Небольшой отступ для разделения кнопок */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px; /* Увеличенные отступы для увеличения размера кнопки */
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-user-button:hover {
    background-color: #0056b3;
}

.navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px; /* Увеличено значение padding */
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block; /* Для .logout-button и .edit-user-button */
}
.logout-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px; /* Увеличено значение padding */
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block; /* Для .logout-button и .edit-user-button */
}
.logout-button:hover{
    background-color: #da7e8e;

}

.navigation button:hover, .edit-user-button:hover {
    background-color: #0056b3;
}

/* Дополнительно, увеличение шрифта для улучшения читаемости */
.navigation button, .logout-button, .edit-user-button {
    font-size: 16px; /* Увеличен размер шрифта */
}

.users-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-card p {
    margin: 0;
    font-weight: bold;
}

.user-card:hover {
    background-color: #f0f0f0;
}
