body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.brand-name {
    color: #007bff;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation button:hover {
    background-color: #0056b3;
}

.user-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.user-info h2 {
    color: #333;
}

.logout-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

.logout-button:hover {
    background-color: #c82333;
}

.edit-user-button {
    display: block; /* Сделать кнопку блочным элементом для возможности маргина */
    margin: 20px auto; /* Автоматический маргин слева и справа для центрирования */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-user-button:hover {
    background-color: #0056b3;
}





