
.back-buttonD {
    background: none;  /* Убираем фон */
    border: none;  /* Убираем рамку */
    padding: 5px;  /* Маленькие отступы для уменьшения кнопки */
    cursor: pointer;
    position: relative;
    top: -215px;  /* Расположение кнопки от верхнего края контейнера */
    left: -270px;  /* Расположение кнопки от левого края контейнера */
    z-index: 10; /* Убедитесь, что кнопка находится поверх других элементов */
    outline: none; /* Убираем контур */
    box-shadow: none; /* Убираем тень, которая может появляться */
}

.back-buttonD svg {
    width: 30px;  /* Размер стрелки */
    height: 30px;  /* Размер стрелки */
    color: white;  /* Белый цвет стрелки */
}

/* Убираем фоновый цвет на hover */
.back-buttonD:hover {
    opacity: 0.8; /* Эффект при наведении */
    background: none;  /* Убираем фон */
    box-shadow: none; /* Убираем тень */
}
