
.back-buttonD {
    background: none;  /* Убираем фон */
    border: none;  /* Убираем рамку */
    padding: 5px;  /* Маленькие отступы для уменьшения кнопки */
    cursor: pointer;
    position: relative;
    top: -270px;  /* Расположение кнопки от верхнего края контейнера */
    left: -260px;  /* Расположение кнопки от левого края контейнера */
    z-index: 10; /* Убедитесь, что кнопка находится поверх других элементов */
    outline: none; /* Убираем контур */
    box-shadow: none; /* Убираем тень, которая может появляться */
}

.back-buttonD svg {
    width: 30px;  /* Размер стрелки */
    height: 30px;  /* Размер стрелки */
    color: white;  /* Белый цвет стрелки */
}

/* Убираем фоновый цвет на hover */
.back-buttonD:hover {
    opacity: 0.8; /* Эффект при наведении */
    background: none;  /* Убираем фон */
    box-shadow: none; /* Убираем тень */
}


.custom-file-label {
    margin-left: 20%;
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #97b9f3;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-file-label:hover {
    background-color: #439bfa;
    transform: translateY(-2px);
}

.custom-file-label:active {
    transform: translateY(1px);
}

/* Скрываем стандартную кнопку выбора файла */
.file-input {
    display: none;
}


/* Кнопка "Удалить своё фото" */
.remove-photo-button {
    background-color: red;  /* Красный фон */
    color: white;  /* Белый текст */
    font-size: 16px;  /* Меньший размер шрифта */
    padding: 12px 20px;  /* Меньше отступов для уменьшения кнопки */
    border: none;  /* Убираем рамку */
    border-radius: 8px;  /* Скругленные углы */
    cursor: pointer;  /* Курсор при наведении */
    margin-top: 10px;  /* Отступ сверху */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Эффект при наведении */
.remove-photo-button:hover {
    background-color: darkred;  /* Темно-красный при наведении */
    transform: translateY(-2px);  /* Легкое движение вверх */
}

/* Эффект при нажатии */
.remove-photo-button:active {
    transform: translateY(1px);  /* Легкое движение вниз */
}